## For deploy
export AWS_PROFILE="your-profile"
export AWS_REGION="ap-northeast-1"
export AWS_DEFAULT_REGION="ap-northeast-1"
export SERVERLESS_ACCESS_KEY="your-access-key"

## For Local development
SERVICE="your-porject-name"
STAGE="dev"
export PRJ_PREFIX="${SERVICE}-${STAGE}"
export IS_LOCAL="True"
export PYTHONPATH="${PYTHONPATH}:/your-project-path/serverless"

# MySQL configuration on local
export MYSQL_HOST="localhost"
export MYSQL_PORT=3306
export MYSQL_USER="your-user"
export MYSQL_PASSWORD="your-password"
export MYSQL_DBNAME="your-db"

export ENABLE_SQL_LOG="False"

